<% extend("../master") %>
<div class="container-fluid">
    <div class="row content">
        <%- include('./section/leftSide')%>

        <%- include('./section/rightSide')%>
        
    </div>
</div>